<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="../master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>tinvent - Your Items</title>
</head>

<body>

   <div id="ItemListFilters">
      <form method="POST" action="/items/index">
         <fieldset id="CategoryFilter">
            <legend>Categories</legend>
            <label py:for="category in categories">
               <input type="checkbox" name="categories" value="${category.category_id}" />${category.label}<br />
            </label>
         </fieldset>

         <fieldset id="StatusFilter">
            <legend>Status</legend>
            <label><input type="radio" name="status" value="owned" />Owned</label><br />
            <label><input type="radio" name="status" value="in_possession" />In Possession</label><br />
            <label><input type="radio" name="status" value="any" checked="checked" />Any</label>
         </fieldset>
         <button type="submit" />
      </form>
   </div>

   <div id="ItemList">
      <h1>Your Items</h1>
      <div class="item" py:for='item in me_contact.all_items'>
         <img src="${tg.url('/images/info.png')}" width="64" height="64" valign="top" />
         <strong>${item.label}</strong>
         <p py:if="item.owner_id==me_contact.contact_id">owned</p>
         <p py:if="item.holder_id==me_contact.contact_id">You currently have this item, and it belongs to <a href="${tg.url('/contacts/view', contact_id=item.owner_id)}">${item.owner.label}</a></p>
      </div>
      <br />
      <a href="/items/add">Add new Item</a>
   </div>

</body>
</html>
